<!-- activation-links start -->
<table class="container">
    <tr>
        <td class="activation-links-box">
            <table>
                <tr>
                    <td width="78px" class="activation-links-icon-wrap">
                        <table>
                            <tr>
                                <td class="activation-links-icon-box">
                                    <img src="assets/img/activation-play24-icon.png" alt="" width="78">
                                </td>
                            </tr>
                            <tr>
                                <td class="activation-links-icon-text">
                                    <b>
                                        aplikacja
                                        Play24
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="activation-links-text-table">
                            <tr>
                                <td class="activation-links-text">
                                    Wejdź do Google Play lub App Store i&nbsp;pobierz aplikację Play24. <br>
                                    <b>Nie potrzebujesz nawet konta </b>– wystarczy, że podasz swój numer telefonu.
                                </td>
                            </tr>
                            <tr>
                                <td class="activation-links-text padded-double">
                                    <b>
                                        Zacznij zarządzać swoim kontem Play wygodniej niż kiedykolwiek.
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="activation-links-text padded-double">
                                    Pobierz bezpłatną aplikację Play24:
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="activation-links-stores-table">
                                        <tr>
                                            <td class="activation-links-stores-box">
                                                <a href="#">
                                                    <img src="assets/img/activation-googleplay-img.png" alt="" width="120" class="activation-links-stores-img" target="_blank">
                                                </a>
                                            </td>
                                            <td class="activation-links-stores-box">
                                                <a href="#">
                                                    <img src="assets/img/activation-appstore-img.png" alt="" width="120" class="activation-links-stores-img" target="_blank">
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="container activation-links-table-img">
    <tr>
        <td>
            <img src="assets/img/activation-links-img.png" alt="">
        </td>
    </tr>
</table>
<!-- activation-links end -->