<!-- activation info start -->
<table class="container activation-info-outer-table">
    <tr>
        <td class="activation-info-box">
            <table class="activation-info-table">
                <tr>
                    <td class="activation-info-inner-wrap">
                        <table>
                            <tr>
                                <td colspan="2" class="activation-info-head">
                                    <b>
                                        Kiedy włączymy Twoje oferty?
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="activation-info-heading">
                                    <b>
                                        Numer telefonu
                                    </b>
                                </td>
                                <td class="activation-info-heading">
                                    <b>
                                        Kiedy włączymy usługę
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="activation-info-wrap">
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="#" class="activation-info-tel">
                                                    <b>
                                                        &#173;790&nbsp;000&nbsp;002
                                                    </b>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="activation-info-rule">
                                                Aneks
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="activation-info-time-box">
                                    <table>
                                        <tr>
                                            <td class="activation-info-item">
                                                <b>
                                                    11.10.2019 r.
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="activation-info-wrap">
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="#" class="activation-info-tel">
                                                    <b>
                                                        &#173;790&nbsp;000&nbsp;002
                                                    </b>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="activation-info-rule">
                                                Nowa aktywacja
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="activation-info-time-box">
                                    <table>
                                        <tr>
                                            <td class="activation-info-item">
                                                <b>
                                                    W ciągu 24 godzin
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="activation-info-wrap">
                                    <table>
                                        <tr>
                                            <td>
                                                <a href="#" class="activation-info-tel">
                                                    <b>
                                                        &#173;790&nbsp;000&nbsp;002
                                                    </b>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="activation-info-rule">
                                                Przeniesienie
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="activation-info-time-box">
                                    <table>
                                        <tr>
                                            <td class="activation-info-item">
                                                <b>
                                                    Po przeniesieniu numeru
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="activation-info-text-box">
            W&nbsp;załączeniu znajdziesz fakturę za zakup. Dziękujemy za zaufanie i&nbsp;życzymy miłego korzystania z&nbsp;Play
        </td>
    </tr>
</table>
<!-- activation info end -->



