//accordion start
// menu-responsive
// menu-responsive



*[id]#wrapper + table {
  min-width: 0 !important;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  width: 100% !important;
}

*[id]#accordion-label {
  width: 100%;
  cursor: pointer;
  display: inline-block !important;
  -webkit-tap-highlight-color: transparent;
}

*[id]#accordion-label > b + b {
  margin-top: 4px;
}

*[class].content td {
  padding: 0 !important;
}

*[id]#accordion-wrapper,
*[id]#accordion-wrapper2 {
  background-color: #fafafa;
  max-height: 0;
  overflow: hidden;
  -moz-transition: max-height 0.25s linear;
  -ms-transition: max-height 0.25s linear;
  -o-transition: max-height 0.25s linear;
  -webkit-transition: max-height 0.25s linear;
  transition: max-height 0.25s linear;
}

*[id]#accordion-checkbox2:checked + table #accordion-wrapper,
*[id]#accordion-checkbox:checked + table #accordion-wrapper2 {
  max-height: 200px;
}

input#accordion-checkbox+* .mj-accordion-more,
input#accordion-checkbox2+* .mj-accordion-more2 {
  display: block!important;
}

input#accordion-checkbox2:checked+* .mj-accordion-more2,
input#accordion-checkbox:checked+* .mj-accordion-more {
  display: none!important;
}

input#accordion-checkbox2:checked+* .mj-accordion-less2,
input#accordion-checkbox:checked+* .mj-accordion-less {
  display: block!important;
}
//accordion end