//btns
$btnColorsHero: #ec5482;
$btnColorsSignUP: #eb5383;
@mixin btn($color,$radius) {
  text-align: center;

  a {
    background-color: $color;
    border-radius: $radius;
    color: #ffffff;
    border-top: 15px solid $color;
    border-bottom: 15px solid $color;
    border-left: 60px solid $color;
    border-right: 60px solid $color;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 47px;

    &:hover {
      background-color: lighten($color, 5%);
      border-color: lighten($color, 5%);
    }
  }
}

.btn {
  @include btn($btnColorsHero, 50px);
}

.btn--colored {
  @include btn($btnColorsSignUP, 0);

  a {
    text-transform: uppercase;
    font-weight: 600;
  }
}
//btns_end