.footer-regards-box {
  padding: 40px 74px 45px 74px
}
.footer-regards-text {
  font-size: 18px;
}

.footer-legal-box-wrap {
  width: 100%;
  padding: 0 34px 0 34px;
}

.footer-table-legal {
  width: 100%;
  background-color: $primary-color;
}

.footer-legal-box {
  padding: 31px 5px 31px 5px;
}

.footer-legal {
  text-align: center;
  font-size: 12px;
  color: $white;
}