.header-img-logo-table {
  background: $primary-color;
}


.header-logo-box {
  padding: 30px 0 0 30px;
  background: $primary-color;
}

.header-img-box {
  background: $primary-color;
}


.header-img {
  width: 347px;
}


.header-heading-box {
  padding: 50px 5px 14px 5px;
}

.header-heading {
  margin: 0;
  text-align: center;
  font-size: 38px;
  line-height: 48px;
}

.header-text-box {
  padding: 0 0 15px 0;
}

.header-text {
  text-align: center;
}

.header-order-btn-wrap {
  padding: 0 0 10px 0;
  text-align: center;
}


.header-order-btn-col {
  padding: 14px 5px 14px 5px;
  background-color: $success-color;
  vertical-align: middle;
  text-align: center;
  color:#ffffff;
  font-size:18px;
  line-height: 1;
}

