table.menu {
  th.menu-item a {
    text-align: center;
    color: #646262;
    line-height: 1;
    text-decoration: none;

    span {
      text-decoration: none;
    }
  }
}
// menu-responsive
@media all and (max-width: 600px) {
  *[class].container,
  *[class].menu,
  *[id]#wrapper + table {
    min-width: 0 !important;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    width: 100% !important;
  }

  *[id]#mobile-label {
    background-color: #646262;
    cursor: pointer;
    display: inline-block !important;
    padding: 10px;
    -webkit-tap-highlight-color: transparent;
    width: 20px;
  }

  *[id]#mobile-label > b {
    background-color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 0;
    display: block;
    height: 4px;
  }

  *[id]#mobile-label > b + b {
    margin-top: 4px;
  }

  *[class].menu td {
    padding: 0 !important;
  }

  *[id]#menu-wrapper {
    background-color: #fff;
    max-height: 0;
    overflow: hidden;
    -moz-transition: max-height 0.25s linear;
    -ms-transition: max-height 0.25s linear;
    -o-transition: max-height 0.25s linear;
    -webkit-transition: max-height 0.25s linear;
    transition: max-height 0.25s linear;
  }

  *[id]#mobile-checkbox:checked + table #menu-wrapper {
    max-height: 170px;
  }

  *[class].menu + .menu {
    border-top: 1px solid #d9d9d9;
  }

  *[class].menu__item {
    /*color: #FFFFFF !important;*/
    display: block;
    padding: 12px;
    text-align: center;
  }

  td[class].content {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }

  *[class].mobile-hide {
    display: none;
  }

  .hide_large {
    display: table!important;
  }

  .menu_aligner {
    td {
      text-align: center!important;
    }
  }

  table.menu {
    tr {
      text-align: center!important;
    }
  }
}