<!--order-examination start-->

<table class="container order-examination" style="background: #E0E0E0;">
    <tr>
        <td class="order-examination-heading-box">
            <h2 class="order-examination-heading">
                <b>
                    Oceń zakup na <a href="https://www.ceneo.pl/" target="_blank" class="order-examination-link">Ceneo.pl</a>
                </b>
            </h2>
        </td>
    </tr>
    <tr>
        <td class="order-examination-btn-box">
            <table align="center" style="width: 200px;" class="order-examination-btn-table">
                <tr>
                    <td class="order-examination-btn-col">
                        <a href="#" class="order-examination-btn" target="_blank">
                            Oceń &nbsp;&#8250;
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <img src="assets/img/order-examination-img-bottom.jpg" alt="">
        </td>
    </tr>
</table>



<!--order-examination end-->