<!-- order data start -->
<table class="container">
    <tr>
        <td class="order-data-heading-box">
            <h2 class="order-data-heading">
                <b>
                    Twoje dane
                </b>
            </h2>
        </td>
    </tr>
</table>
<table class="container">
    <tr>
        <td class="order-data-box">
            <table>
                <tr>
                    <td class="order-data-left-bordered">
                        &nbsp;
                    </td>
                    <td>
                        <table>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="order-data-name">
                                                Imię i nazwisko
                                            </td>
                                            <td class="order-data-value">
                                                <b>
                                                    Bartek Stachewicz
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="order-data-name">
                                                Sposób płatności
                                            </td>
                                            <td class="order-data-value">
                                                <b>
                                                    Kartą / Gotówką
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="order-data-name">
                                                Zapłać przy odbiorze
                                            </td>
                                            <td class="order-data-value">
                                                <b>
                                                    &#173;123 zł
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="order-data-name">
                                                Przesyłkę otrzymasz
                                            </td>
                                            <td class="order-data-value">
                                                <b>
                                                    Kurierem / Pocztą&nbsp;Polską /
                                                    Do&nbsp;salonu&nbsp;Play / Do&nbsp;kiosku&nbsp;Ruchu
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td class="order-data-name last">
                                                Adres dostawy
                                            </td>
                                            <td class="order-data-value last">
                                                <b>
                                                    &#173;Ul.&#173;Taśmowa&nbsp;&#173;7, &#173;02-677 Warszawa
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{#ifequal type 'send-data'}}
<table class="container order-data-online-table">
    <tr>
        <td class="order-data-btn-box">
            <table align="center" style="width: 370px;">
                <tr>
                    <td class="order-data-btn-col">
                        <a href="#" class="order-data-btn" target="_blank">
                            Sprawdź na mapie miejsce odbioru &nbsp;&#8250;
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{/ifequal}}


<!-- order data end-->