<!-- order-detail start -->
{{#ifequal type 'order-first'}}
<table class="container">
    <tr>
        <td class="order-detail-heading-box">
            <h2 class="order-detail-heading">
                <b>
                    Twoje zamówienie:
                </b>
            </h2>
        </td>
    </tr>
</table>
{{/ifequal}}
<table class="container">
    <tr>
        <td class="order-detail-wrap">
            <table class="order-detail-table {{#ifequal orderDirstBgMode 'orderDirstBgMode'}} order-detail-table-first{{/ifequal}}">
                <tr>
                    <td class="order-detail-table-box">
                        <table class="order-detail-table-wrap">
                            <tr>
                                <td class="order-detail-number-box">
                                    <table>
                                        <tr>
                                            <td class="order-detail-table-head">
                                                <b>
                                                    Numer telefonu
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <a href="#" class="order-detail-number">
                                                    <b>
                                                        &#173;790&nbsp;000&nbsp;002
                                                    </b>
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="order-detail-date-box">
                                    <table>
                                        <tr>
                                            <td class="order-detail-date">
                                                Termin wejścia w życie
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-detail-date-number">
                                                <b>
                                                    18.10.2018&nbsp;r.
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>
                                                <p class="order-detail-reason">
                                                    &#x25ba; Przeniesienie numeru
                                                </p>
                                                <p class="order-detail-reason">
                                                    &#x25ba; Formuła Solo S
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td class="order-detail-date-box">
                                    <table>
                                        <tr>
                                            <td class="order-detail-date">
                                                Umowa trwa do
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="order-detail-date-number">
                                                <b>
                                                    18.10.2018&nbsp;r.
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table class="device-gadget-table">
                            <tr>
                                <td colspan="2" class="order-device-gadget-head">
                                    <b>
                                        Urządzenie
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="order-device-gadget-text">
                                    <b>
                                        SAGEM TV BOX &#173;13142424 BLACK
                                    </b>
                                </td>
                                <td class="order-device-gadget-price">
                                    <b>
                                        1&nbsp;zł
                                    </b>
                                </td>
                            </tr>
                        </table>
                        <table class="order-detail-offer-table">
                            <tr>
                                <td class="order-detail-offer-head">
                                    <p style="color:#48227c;font-weight: bold;">
                                        Abonament miesięczny (z&nbsp;rabatami)
                                    </p>
                                </td>
                            </tr>
                        </table>
                        <table class="order-detail-offer-box">
                            <tr>
                                <td class="order-detail-offer-img">
                                    <center style="min-width:100px">
                                        {{> order-details-rounded-badge rounded-badge-period-text="1-3 miesiąc" rounded-badge-price-text="10 zł" }}
                                    </center>
                                </td>
                                <td class="order-detail-offer-img">
                                    <center style="min-width:100px">
                                        {{> order-details-rounded-badge rounded-badge-period-text="4-7 miesiąc" rounded-badge-price-text="60 zł" }}
                                    </center>
                                </td>
                            </tr>
                        </table>
                        <table class="order-detail-offer-box">
                            <tr>
                                <td class="order-detail-offer-img">
                                    <center style="min-width:100px">
                                        {{> order-details-rounded-badge rounded-badge-period-text="od 8 miesiąca" rounded-badge-price-text="60 zł" }}
                                    </center>
                                </td>
                                <td class="order-detail-offer-img">
                                    <center style="min-width:100px">
                                        {{> order-details-rounded-badge rounded-badge-period-text="od 8 miesiąca" rounded-badge-price-text="60 zł" }}
                                    </center>
                                </td>
                            </tr>
                        </table>
                        <table class="order-service-table">
                            <tr>
                                <td class="order-service-head">
                                    <b>
                                        Usługi w&nbsp;abonamencie
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="order-service-badge-box">
                                    <table style="width: initial">
                                        <tr>
                                            <td class="order-service-badge">
                                                <b>PLAY NOW</b> usługi dodatkowe na 12 miesięcy bez opłat
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="order-service-badge-box last">
                                    <table style="width: initial">
                                        <tr>
                                            <td class="order-service-badge">
                                                pakiet <b>PLAY NOW TV BOX</b>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table class="order-more-table">
                            <tr>
                                <td class="order-more-head">
                                    <b>
                                        Opłaty poza Abonamentem
                                    </b>
                                </td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <img src="assets/img/order-offer-play-now.png" alt="" width="93" class="order-more-img">
                                </td>
                                <td class="order-more-text">
                                    Play Now: <b>pakiet Sport z&nbsp;rabatem 100%</b><br>
                                    na 1&nbsp;miesiąc+: <b>od 1&nbsp;miesiąca 15&nbsp;zł</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/img/order-offer-play-now.png" alt="" width="93" class="order-more-img">
                                </td>
                                <td class="order-more-text">
                                    Play Now: <b>pakiet Kids z&nbsp;rabatem 100%</b> <br>
                                    na 1&nbsp;miesiąc+: <b>od 1&nbsp;miesiąca 10&nbsp;zł</b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="assets/img/order-offer-tidal.png" alt="" width="93" class="order-more-img">
                                </td>
                                <td class="order-more-text">
                                    Nawet do <b>6&nbsp;miesięcy </b>bez opłat
                                </td>
                            </tr>
                        </table>
                        <table class="order-legal-table">
                            <tr>
                                <td class="order-legal-box">
                                    <p class="order-legal-text">
                                        W Umowie kwoty są o&nbsp;10&nbsp;zł wyższe – bez rabatów za e-fakturę i&nbsp;terminowe płatności oraz zgody marketingowe
                                        i&nbsp;profilowanie. Wyższa kwota wynika z&nbsp;tego, że jesteśmy prawnie zobowiązani podawać maksymalną kwotę abonamentu.
                                    </p>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--  order-detail end -->