<!--order-device start-->
<table class="container">
    <tr>
        <td class="order-device-heading-box">
            <h2 class="order-device-heading">
                <b>
                    Twoje zamówienie:
                </b>
            </h2>
        </td>
    </tr>
</table>
<table class="container">
    <tr>
        <td class="order-device-wrap">
            <table class="order-device-table">
                <tr>
                    <td class="order-device-box">
                        <b>
                            SAMSUNG S10 black
                        </b>
                    </td>
                    <td class="order-device-price">
                        <b>
                            &#173;1&nbsp;zł
                        </b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--order-device end-->