<!--order question star-->

<table class="container">
    <tr>
        <td class="order-questions-header-box">
            <h2 class="order-questions-header">
                Pytania?
            </h2>
        </td>
    </tr>
</table>
<table class="container">
    <tr>
        <td class="order-question-box-left">
            <table class="order-question-table">
                <tr>
                    <td class="order-question-text">
                        Jeżeli masz pytania<br>
                        o&nbsp;zamówienie
                    </td>
                </tr>
            </table>
            <table class="order-question-vars-box">
                <tr>
                    <td class="order-question-vars-img" height="57" width="57">
                        <center style="min-width: 40px">
                            <img src="assets/img/order-questions-mail-icon.png" alt="">
                        </center>
                    </td>
                </tr>
                <tr>
                    <td class="order-question-vars-text" height="60">
                        Napisz na adres <br>
                        <a href="mailto:telesales@playsklep.pl" target="_blank" class="order-question-vars-link">
                            telesales@playsklep.pl
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="order-question-vars-img" height="57"  width="57">
                        <center style="min-width: 40px">
                            <img src="assets/img/order-questions-chat-icon.png" alt="">
                        </center>
                    </td>
                </tr>
                <tr>
                    <td class="order-question-vars-text last" height="60">
                        Napisz na czacie <br>
                        do Działu Obsługi Zamówień
                    </td>
                </tr>
            </table>
        </td>
        <td class="order-question-box-right">
            <table class="order-question-table">
                <tr>
                    <td class="order-question-text">
                        Jeżeli masz pytania<br>
                        o&nbsp;ofertę
                    </td>
                </tr>
            </table>
            <table class="order-question-vars-box">
                <tr>
                    <td class="order-question-vars-img" height="57"  width="57">
                        <center style="min-width: 40px">
                            <img src="assets/img/order-questions-phone-icon.png" alt="">
                        </center>
                    </td>
                </tr>
                <tr>
                    <td class="order-question-vars-text" height="60">
                        Zadzwoń pod numer <br>
                        <a href="tel:790500500" target="_blank" class="order-question-vars-link">
                            &#173;790&nbsp;5000&nbsp;500
                        </a>
                    </td>
                </tr>
                <tr>
                    <td class="order-question-vars-img" height="57"  width="57">
                        <center style="min-width: 40px">
                            <img src="assets/img/order-questions-chat-icon.png" alt="">
                        </center>
                    </td>
                </tr>
                <tr>
                    <td class="order-question-vars-text last" height="60">
                        Napisz na czacie <br>
                        do Obsługi Klienta
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<table class="container {{#ifequal type 'table-has-big-border'}}order-questions-table-bordered{{/ifequal}} ">
    <tr>
        <td>
            <img src="assets/img/order-questions-img.png" alt="">
        </td>
    </tr>
</table>
<!--order question end-->