<!-- order inform -->
<table class="container">
    <tr>
        <td class="order-inform-box">
            <table class="order-inform-table">
                <tr>
                    <td class="order-inform-text">
                        <b>
                            Będziemy jeszcze weryfikowali zamówienie.
                            O&nbsp;kolejnych krokach poinformujemy Cię mailem
                            i&nbsp;SMS-em.
                        </b>
                    </td>
                </tr>
                <tr>
                    <td class="order-inform-btn-box">
                        <table align="center" style="width: 290px;">
                            <tr>
                                <td class="order-inform-btn-col">
                                    <a href="#" class="order-inform-btn" target="_blank">
                                        Sprawdź status zamówienia &nbsp;&#8250;
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- order inform end-->