<!-- table online start -->
<table class="container">
    <tr>
        <td class="order-online-box">
            <table class="order-online-table">
                <tr>
                    <td class="order-online-wrap">
                        <table>
                            <tr>
                                <td class="order-online-text">
                                    <b>
                                        O&nbsp;kolejnych krokach poinformujemy Cię mailem i&nbsp;SMS-em.
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="order-online-text-alert">
                                    Przed przyjazdem kuriera przygotuj kopię
                                    dowodu osobistego lub paszportu.
                                    Sprawdź, jak przygotować kopię, aby była bezpieczna
                                </td>
                            </tr>
                            <tr>
                                <td class="order-online-btn-box">
                                    <table align="center" style="width: 290px;">
                                        <tr>
                                            <td class="order-online-btn-col">
                                                <a href="#" class="order-online-btn" target="_blank">
                                                    Sprawdź status zamówienia &nbsp;&#8250;
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- table online end-->