<!-- order safety start-->
<table class="container order-safety-table">
    <tr>
        <td class="order-safety-heading-box">
            <h2 class="order-safety-heading">
                <b>
                    Bezpieczeństwo zakupów
                </b>
            </h2>
        </td>
    </tr>
    <tr>
        <td class="order-safety-text">
            Możesz odstąpić od zakupu w ciągu 14&nbsp;dni od dostarczenia przesyłki. Jeżeli chcesz to zrobić,
            wypełnij formularz odstąpienia. Możesz także skorzystać z&nbsp;formularza ustawowego, który jest załącznikiem numer
            2&nbsp;do ustawy z&nbsp;dnia 30&nbsp;maja 2014 r. o&nbsp;prawach konsumenta.
        </td>
    </tr>
</table>
<!--order safety end -->
