<!--order review start-->
<table class="{{#ifequal type 'tableBorderedTop'}}container order-review-bordered-top{{else}}container{{/ifequal}}">
    <tr>
        <td>
            <table class="order-review-box">
                <tr>
                    <td class="order-review-heading-box">
                        <h2 class="order-review-heading">
                            <b>
                                Podziel się opinią
                            </b>
                        </h2>
                    </td>
                </tr>
                <tr>
                    <td class="order-review-text">
                        <b>
                            Wypełnij krótką ankietę dotyczącą zakupu u&nbsp;konsultanta telesprzedaży Play. Twoje zdanie pomoże nam lepiej spełnić oczekiwania klientów.
                        </b>
                    </td>
                </tr>
                <tr>
                    <td class="order-review-btn-box">
                        <table align="center" style="width: 200px;" class="order-review-btn-table">
                            <tr>
                                <td class="order-review-btn-col">
                                    <a href="#" class="order-review-btn" target="_blank">
                                        Wypełnij ankietę &nbsp;&nbsp;&#8250;
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="order-review-legal">
                        Jeżeli przycisk nie działa, skopiuj link w&nbsp;okno przeglądarki: <br>
                        <a href="http://StartIlrlifC00250013009Cb2/StartIlrlifC00250013009Cb" target="_blank" class="order-review-legal-link">
                            <b>
                                http://StartIlrlifC00250013009Cb2/StartIlrlifC00250013009Cb
                            </b>
                        </a><br>
                        Możesz wypełnić ankietę przez 7&nbsp;dni.
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="assets/img/order-review-img-bottom.jpg" alt="" width="600">
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--order review end-->