<!-- order steps -->
<table class="container">
    <tr>
        <td class="order-steps-box">
            <table class="order-steps-table">
                <tr>
                    <td style="padding: 40px 44px 40px 44px;">
                        <p class="order-steps-text">
                            Abyśmy mogli zrealizować zamówienie, wyślij na adres e-mail [<a href="mailto:dokumenty@playsklep.pl" class="order-steps-link">dokumenty@playsklep.pl</a>] zdjęcia albo skany dokumentów:
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 44px 40px 44px;">
                        <table>
                            <tr>
                                <td style="padding: 0 30px" width="57">
                                    <img src="assets/img/order_service_icon.png" alt="" width="57">
                                </td>
                                <td class="order-steps-text">
                                    dowód osobisty <br>
                                    albo paszport
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 44px 40px 44px;">
                        <table>
                            <tr>
                                <td style="padding: 0 30px" width="57">
                                    <img src="assets/img/order_service_icon_badge.png" alt="" width="57">
                                </td>
                                <td class="order-steps-text">
                                    drugi dokument <br>
                                    do wyboru:
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 44px 8px;">
                        <table style="width: 340px" align="right" class="order-steps-list">
                            <tr>
                                <td class="order-steps-list-bulet">
                                    &#8226;
                                </td>
                                <td class="order-steps-list-item">
                                    trzy ostatnie faktury za telefon komórkowy, telefon stacjonarny, internet albo telewizję kablową na łączną kwotę minimum 115&nbsp;zł,
                                </td>
                            </tr>
                            <tr>
                                <td class="order-steps-list-bulet">
                                    &#8226;
                                </td>
                                <td class="order-steps-list-item">
                                    zaświadczenie o zatrudnieniu,
                                </td>
                            </tr>
                            <tr>
                                <td class="order-steps-list-bulet">
                                    &#8226;
                                </td>
                                <td class="order-steps-list-item">
                                    legitymację emeryta albo decyzję o&nbsp;przyznaniu emerytury,
                                </td>
                            </tr>
                            <tr>
                                <td class="order-steps-list-bulet">
                                    &#8226;
                                </td>
                                <td class="order-steps-list-item">
                                    legitymację studencką albo doktorancką,
                                </td>
                            </tr>
                            <tr>
                                <td class="order-steps-list-bulet">
                                    &#8226;
                                </td>
                                <td class="order-steps-list-item">
                                    legitymację służbową.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 44px 50px 44px;" class="order-steps-rule">
                        Upoważnienie wyślij do nas, jeżeli inna osoba będzie zawierać Umowę w&nbsp;Twoim imieniu. Upoważnienie musi być zgodne z&nbsp;zapisami w&nbsp;KRS lub w&nbsp;umowie spółki cywilnej.
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0 44px 40px 44px;">
                        <table>
                            <tr>
                                <td class="order-steps-alert">
                                    Na dokumenty czekamy 7&nbsp;dni. Po tym czasie będziemy musieli anulować Twoje zamówienie.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="order-steps-btn-box">
                        <table align="center" style="width: 290px;">
                            <tr>
                                <td class="order-steps-btn-col">
                                    <a href="#" class="order-steps-btn" target="_blank">
                                        Sprawdź status zamówienia &nbsp;&#8250;
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- order steps end-->