<!--order-noabonament start-->
<table class="container">
    <tr>
        <td class="order-noabonament-heading-box">
            <h2 class="order-noabonament-heading">
                <b>
                    Urządzenia bez abonamentu:
                </b>
            </h2>
        </td>
    </tr>
</table>
<table class="container">
    <tr>
        <td class="order-noabonament-device-wrap">
            <table class="order-noabonament-device-table">
                <tr>
                    <td class="order-noabonament-device-box">
                        <b>
                            GARMIN FORERUNNER 235
                        </b>
                    </td>
                    <td class="order-noabonament-device-price">
                        <b>
                            &#173;1&nbsp;zł
                        </b>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--order noabonament end-->