<!-- return-device start -->
<table class="container">
    <tr>
        <td class="return-device-box">
            <table class="return-device-table">
                <tr>
                    <td class="return-device-info-box">
                        <table>
                            <tr>
                                <td class="return-device-heading">
                                    <b>
                                        Numer telefonu
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <a href="#" class="return-device-tel">
                                        <b>
                                            &#173;790&nbsp;000&nbsp;002
                                        </b>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="return-device-status-box" valign="middle">
                        <table>
                            <tr>
                                <td class="return-device-status-text">
                                    &#9658; Przyjęliśmy zwrot
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
            <table class="return-device-table">
                <tr>
                    <td class="return-device-info-box">
                        <table>
                            <tr>
                                <td class="return-device-heading">
                                    <b>
                                        Urządzenie
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td class="return-device-tel">
                                    <b>
                                        Huawei P30 PRO,
                                        IMEI&nbsp;&#173;422424422
                                    </b>
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td class="return-device-status-box" valign="middle">
                        <table>
                            <tr>
                                <td class="return-device-status-text">
                                    &#9658; Uszkodzone / niesprawne urządzenie
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--return-device end-->