<table class="container">
    <tr>
        <td class="return-info-box">
            <table class="return-info-outer-table">
                <tr>
                    <td class="return-info-inner-table">
                        <table class="return-info-table">
                            <tr>
                                <td class="return-info-icon-box">
                                    <img src="assets/img/return-info-phone-icon.png" alt="" width="39">
                                </td>
                                <td class="return-info-wrap">
                                    <table>
                                        <tr>
                                            <td class="return-info-heading">
                                                <b>
                                                    Uszkodzone / niesprawne urządzenie
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="return-info-text">
                                                Po sprawdzeniu przesyłki stwierdziliśmy uszkodzenie/niesprawność sprzętu.
                                                Przekazaliśmy urządzenia do serwisu producenta.
                                                Wykona on ekspertyzę oraz oszacuje ewentualne koszty naprawy.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                        <table class="return-info-table">
                            <tr>
                                <td class="return-info-icon-box">
                                    <img src="assets/img/return-info-arrows-icon.png" alt="" width="39">
                                </td>
                                <td class="return-info-wrap last">
                                    <table>
                                        <tr>
                                            <td class="return-info-heading">
                                                <b>
                                                    Prosimy o&nbsp;zwrot
                                                </b>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="return-info-text">
                                                Prosimy o&nbsp;zwrot sprzętu, który zaznaczyliśmy.
                                                Zwróć go nie później niż w&nbsp;ciągu <b>14 dni od odstąpienia od umowy</b>.
                                                Przesyłkę wyślij na koszt własny na adres:
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="return-info-text">
                                                Sklep internetowy Play <br>
                                                &#173;ul.&nbsp;&#173;Działkowa&nbsp;&#173;62 <br>
                                                &#173;02-234 Warszawa
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="return-info-text">
                                                Za sprzęt zwrócimy Ci pieniądze w&nbsp;ciągu 14 dni.
                                                Pieniądze otrzymasz na numer konta podany na formularzu odstąpienia
                                                lub przekazem pieniężnym na adres korespondencyjny podany w&nbsp;trakcie składania zamówienia.
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>