.send-info-box {
  padding: 40px 34px 30px 34px;
}

.send-info-table {
  width: 100%;
  background: $primary-color;
}

.send-info-wrap {
  padding: 33px 44px 24px 44px;
}

.send-info-text {
  color: $white;
  padding: 0 0 33px 0;
}

.send-info-table-inner {
  width: 100%;
}

.send-info-btn-box {
  padding: 0 0 40px 0;

}

.send-info-btn {
  background-color: $success-color;
  color: $white;
  line-height: 1;
  font-size:18px;
  text-align:center;
}

.send-info-btn-col {
  padding: 13px 0 13px 0;
  vertical-align: middle;
  background-color: $success-color;
  text-align: center;
}

.send-info-legal {
  color: $white;
  font-size: 15px;
}