.order-data-heading-box {
  padding: 46px 74px 25px 74px;
}

.order-data-heading {
  font-size: 23px;
  color: $primary-color;
}

.order-data-box {
  padding: 0 50px;
}


.order-data-left-bordered {
  border-left: 4px solid $success-color;
}


.order-data-name {
  width: 160px;
  padding: 0 5px 25px 20px;
  font-size: 14px;
  color: $black;

  &.last {
    padding-bottom: 0;
  }
}

.order-data-value {
  padding: 0 0 25px 5px;
  font-size: 17px;
  color: $success-color;

  &.last {
    padding-bottom: 0;
  }
}

.order-data-online-table {
  border-bottom: 8px solid $primary-color;
}

.order-data-btn-box {
  padding: 36px 30px 36px 30px;
}

.order-data-btn {
  background-color: $success-color;
  color: $white;
  line-height: 1;
  font-size:18px;
  text-align:center;
}

.order-data-btn-col {
  padding: 13px 0 13px 0;
  vertical-align: middle;
  background-color: $success-color;
  text-align: center;
}
