.order-examination {
  border-top: 34px solid $primary-color;
}

.order-examination-heading-box {
  padding: 40px 74px 35px 74px
}

.order-examination-heading{
  text-align: center;
  font-size: 23px;
  color: $primary-color;
}

.order-examination-btn-box {
  padding: 0 74px 35px 74px
}

.order-examination-btn {
  background: $success-color;
  color: $white;
  line-height: 1;
  font-size:18px;
  text-align:center;
}

.order-examination-btn-col {
  background: $success-color;
  padding: 13px 0 13px 0;
  text-align: center;
  vertical-align: middle;
}

.order-examination-link {
  color: $primary-color;
  font-weight: bold;
}
