.order-noabonament-heading-box {
  padding: 20px 34px 10px 34px;
}

.order-noabonament-heading {
  font-size: 23px;
  color: $primary-color;
}

.order-noabonament-device-wrap {
  padding: 0 34px;
}

.order-noabonament-device-table {
  width: 100%;
  background: $warning-color;
}

.order-noabonament-device-box {
  padding: 20px 40px;
  vertical-align: middle;
  font-size: 19px;
  line-height: 1;
}

.order-noabonament-device-price {
  text-align: right;
  width: 100px;
  padding: 20px 30px 20px 5px;
  font-size: 27px;
  vertical-align: middle;
  color: $primary-color;
  line-height: 1;
}