.order-safety-table {
  border-bottom: 6px solid $primary-color;
}

.order-safety-heading-box{
  padding: 42px 74px 42px 72px
}

.order-safety-heading {
  font-size: 23px;
  color: $primary-color;
}

.order-safety-text {
  padding: 0 74px 34px 74px;
  font-size: 14px;
  color: $primary-color;
}