.order-questions-header-box {
  padding: 40px 74px 30px 74px;
}

.order-question-box-left {
  width: 240px;
  padding: 0 5px 0 50px;
}

.order-question-box-right{
  width: 240px;
  padding: 0 50px 0 5px;
}

.order-question-table {
  width: 100%;
  border: 1.5px solid $primary-color;
  background-color: $primary-color;
}

.order-question-text {
  padding: 20px 0 15px 20px;
  font-size: 17px;
  font-weight: bold;
  color: $white;
}

.order-questions-header {
  font-size: 23px;
  font-weight: bold;
  color: $primary-color;
}

.order-question-vars-box {
  width: 100%;
  border: 1.5px solid $primary-color;
}

.order-question-vars-img {
  padding: 35px 10px 10px 10px;
}

.order-question-vars-text {
  padding: 0 10px;
  text-align: center;
  font-size: 14px;

  &.last {
    padding-bottom: 35px;
  }
}

.order-question-vars-link {
  color: $black;
}

.order-questions-table-bordered {
  border-bottom: 20px solid $primary-color;
}