<table class="container">
    <tr>
        <td class="footer-regards-box">
            <p class="footer-regards-text">
                <b>
                    Pozdrawiamy <br>
                    Zespół Red Bull Mobile
                </b>
            </p>
        </td>
    </tr>
</table>
<table class="container">
    <tr>
        <td class="footer-legal-box-wrap">
            <table class="footer-table-legal">
                <tr>
                    <td class="footer-legal-box">
                        <p class="footer-legal">
                            <b>Red Bull Mobile</b>, ul.&nbsp;Taśmowa&nbsp;7, &#173;02-677 Warszawa,<br>
                            NIP:&nbsp;&#173;9512120077, REGON: &#173;015808509, kapitał zakładowy  &#173;48&nbsp;856&nbsp;500,00&nbsp;złotych
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
