<table class="container">
  <tr>
    <td>
      <table class="header-img-logo-table">
        <tr>
          <td width="253">
            <table>
              <tr>
                <td class="header-logo-box">
                  <a href="https://www.redbullmobile.pl/" target="_blank">
                    <img src="assets/img/header-jumbotron-logo.png" alt="" width="204" class="header-jumbotron-logo">
                  </a>
                </td>
              </tr>
            </table>
          </td>
          <td width="347" class="header-img-box">
            <img src="assets/img/header-jumbotron-img.png" alt="" width="347" class="header-img" align="right">
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td class="header-heading-box">
      <h1 class="header-heading">
        <b>
          Dzień Dobry
        </b>
      </h1>
    </td>
  </tr>
  <tr>
    <td class="header-text-box">
      <p class="header-text">
        {{#ifequal type 'order'}}
        dziękujemy za złożenie <br>
        zamówienia w&nbsp;sklepie internetowym Play
        {{/ifequal}}

        {{#ifequal type 'order-online'}}
        dziękujemy za zakupy w&nbsp;sklepie internetowym Play
        {{/ifequal}}

        {{#ifequal type 'order-return'}}
        otrzymaliśmy Twoje oświadczenie o odstąpieniu
        {{/ifequal}}

        {{#ifequal type 'cancel-order'}}
        niestety nie możemy zrealizować<br>
        Twojego zamówienia
        {{/ifequal}}

        {{#ifequal type 'send-info'}}
        przekazaliśmy kurierowi z&nbsp;firmy<br>
        DHL Twoje zamówienie.
        {{/ifequal}}

        {{#ifequal type 'order-online-ordered'}}
        dziękujemy za złożenie zamówienia<br>
        w&nbsp;sklepie internetowym Play
        {{/ifequal}}

        {{#ifequal type 'activation-order'}}
        kurier przekazał nam, że doręczył<br>
        Twoje zamówienie
        {{/ifequal}}
      </p>
    </td>
  </tr>
  <tr>
    <td class="header-order-btn-wrap {{#ifequal btnmod 'one-row-text'}}btn-wrap-one-row{{/ifequal}}">
      <table align="center" style="width: 340px;">
        <tr>
          <td class="header-order-btn-col">
            Twój numer zamówienia to &#173;123456
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
