<!-- send steps start-->
<table class="container send-steps-table">
    <tr>
        <td class="send-steps-box">
            <table>
                <tr>
                    <td class="send-steps-text">
                        Przed odebraniem przesyłki przeczytaj poradnik.
                    </td>
                </tr>
                <tr>
                    <td class="send-steps-heading">
                       <b>
                           Gdy przyjedzie kurier:
                       </b>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table>
                            <tr>
                                <td class="send-steps-icon-box">
                                    <img src="assets/img/send-steps-1-icon.png" alt="krok 1" class="send-steps-icon" width="20">
                                </td>
                                <td class="send-steps-list-steps">
                                    odbierz przesyłkę osobiście
                                </td>
                            </tr>
                            <tr>
                                <td class="send-steps-icon-box">
                                    <img src="assets/img/send-steps-2-icon.png" alt="krok 2" class="send-steps-icon" width="20">
                                </td>
                                <td class="send-steps-list-steps">
                                    pokaż dowód osobisty
                                </td>
                            </tr>
                            <tr>
                                <td class="send-steps-icon-box">
                                    <img src="assets/img/send-steps-3-icon.png" alt="krok 3" class="send-steps-icon" width="20">
                                </td>
                                <td class="send-steps-list-steps">
                                    przekaż kopię dowodu osobistego albo paszportu - sprawdź tutaj, jak przygotować dokumenty
                                </td>
                            </tr>
                            <tr>
                                <td class="send-steps-icon-box">
                                    <img src="assets/img/send-steps-4-icon.png" alt="krok 4" class="send-steps-icon" width="20">
                                </td>
                                <td class="send-steps-list-steps">
                                    podpisz potwierdzenie zawarcia umowy
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- send steps end-->