<!--send info start-->
<table class="container">
    <tr>
        <td class="send-info-box">
            <table class="send-info-table">
                <tr>
                    <td class="send-info-wrap">
                        <table class="send-info-table-inner">
                            <tr>
                                <td class="send-info-text">
                                    Numer listu przewozowego to <b>&#173;18100017301</b>.
                                </td>
                            </tr>
                            <tr>
                                <td class="send-info-btn-box">
                                    <table align="center" style="width: 210px;">
                                        <tr>
                                            <td class="send-info-btn-col">
                                                <a href="#" class="send-info-btn" target="_blank">
                                                    Śledź przesyłkę &nbsp;&#8250;
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="send-info-legal">
                                    W załączniku przesyłamy umowę lub aneks, oświadczenie, regulaminy oraz wzór odstąpienia.<br>
                                    Zapoznaj się z&nbsp;nimi przed odbiorem. <br>
                                    Hasłem do otworzenia plików jest <b>Twój numer PESEL/NIP</b>.
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!--send info end-->