.cancel-order-table {
  width: 100%;
  background: $primary-color;
}

.cancel-order-box {
  padding: 40px 30px 10px 30px;
}

.cancel-order-text {
  padding: 40px 44px 50px 44px;
  color: $white;
  font-size: 17px;
}

.cancel-order-btn-box {
  padding: 0 0 30px 0;
}

.cancel-order-btn {
  background-color: $success-color;
  color: $white;
  line-height: 1;
  font-size:18px;
  text-align:center;
}

.cancel-order-btn-col {
  padding: 13px 0 13px 0;
  vertical-align: middle;
  background-color: $success-color;
  text-align: center;
}

.cancel-order-link {
  font-weight: bold;
  color: $success-color;
}

.order-order-btn-box {
  padding: 0 44px 50px 44px;
}
