<!-- cancel-order start -->
<table class="container">
    <tr>
        <td class="cancel-order-box">
            <table class="cancel-order-table">
                <tr>
                    <td class="cancel-order-text">
                        <b>
                            Anulowaliśmy Twoje zamówienie, ponieważ otrzymaliśmy od Ciebie nieczytelne dokumenty.
                            Nie możemy ich zaakceptować. Jeżeli chcesz złożyć zamówienie ponownie, 
                            odwiedź <a href="https://www.play.pl/" class="cancel-order-link" target="_blank">www.play.pl</a> lub nasz najbliższy salon.
                        </b>
                    </td>
                </tr>
                <tr>
                    <td class="cancel-order-btn-box">
                        <table align="center" style="width: 290px;">
                            <tr>
                                <td class="cancel-order-btn-col">
                                    <a href="#" class="cancel-order-btn" target="_blank">
                                        Mapa salonów Play &nbsp;&#8250;
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- cancel-order end -->