.return-info-box {
  padding: 10px 34px 20px 34px;
}

.return-info-outer-table {
  background: $primary-color;
}

.return-info-inner-table {
  background: $primary-color;
}

.return-info-table {
  width: 100%;
  background: $primary-color;
}


.return-info-icon-box {
  width: 40px;
  padding: 26px 20px 8px 30px;
}

.return-info-wrap {
  padding: 26px 30px 8px 5px;

  &.last {
    padding-bottom: 35px;
  }
}

.return-info-heading {
  padding: 0 0 20px;
  color: $success-color;
  font-size: 17px;
}

.return-info-text {
  padding: 0 0 10px;
  font-size: 17px;
  color: $white;
}